<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Registracija</h2>
        <form method="post" action="{% url 'main:register' %}">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Greška.
            </div>
            {% endif %}

            <div class="form-group">
                <label for="id_username">Korisničko ime:</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="id_password1">Lozinka:</label>
                {{ form.password1 }}
            </div>

            <div class="form-group">
                <label for="id_password2">Potvrdite lozinku:</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-primary">Registriraj se</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
